body{
    max-width: 1366px;
   
}

.main-page{
    display: flex;
    max-width: 100vw;
}

header{
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(9, 88, 42);
    box-shadow: 0px 21px 27px 8px rgba(235,235,73,1);
}

header img{
    width: 22%;
}

aside img{
    height: 25rem;
    width: 14rem;
    object-fit: cover;
}


.pokeCard{
    margin: 10px auto 0px auto;
    width: 300px;
    
    background-color: rgba(117, 116, 15, 0.616);
    border-radius: 5px;
}

/* .card__photo{
    height: 90%;
} */

.card__photo img{
    width: 90%;
    max-height: 100%;
    /* object-fit: cover; */
    border-radius: 5px;
    display: block;
    margin: auto;
}

.grayScale{
    filter: contrast(0);
}

.redBackground{
    background-color: rgb(247, 139, 139);
}

.greenBackground{
    background-color: rgb(183, 243, 93);
}



.inputGame{
    height: 10%;
    
}

#card__name{
    width: 98.5%;
    text-decoration: none;
    border: 0 none;
    outline: 0;
    box-shadow: 0 0 0 0;
    text-align: center;
}



button{
    height: 40px;
    /* width: 35px; */
    background-color: rgb(168, 77, 77);
    margin-right: 200px;
    margin-left: 300px;
}

